<a href="https://colab.research.google.com/github/quinnwong31/CryptoArbitrage/blob/main/venture_funding_with_deep_learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [226]:
# Imports
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [227]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv(Path("applicants_data.csv"))

# Review the DataFrame
applicant_data_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [251]:
# Review the data types associated with the columns
applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [274]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
df = applicant_data_df.drop(['EIN', 'NAME'], axis=1)

# Review the DataFrame
df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [275]:
# Create a list of categorical variables 
categorical_variables = list(df.dtypes[df.dtypes == "object"].index)

# Display the categorical variables list
categorical_variables

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [276]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

In [277]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(df[categorical_variables])

In [278]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(
    encoded_data,
    columns = enc.get_feature_names_out(categorical_variables)
)

# Review the DataFrame
encoded_df.head()

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [279]:
# The original DataFrame's numerical variables
numerical_df = applicant_data_df[['ASK_AMT', 'IS_SUCCESSFUL']].dropna()

# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
encoded_df = pd.concat([encoded_df, numerical_df])

# Review the Dataframe
encoded_df.head()

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,ASK_AMT,IS_SUCCESSFUL
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,NaN,NaN
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,NaN,NaN
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,NaN,NaN
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,NaN,NaN
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,NaN,NaN

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [280]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df[["IS_SUCCESSFUL"]].values

# Display a sample of y
y

array([[nan],
       [nan],
       [nan],
       ...,
       [ 0.],
       [ 1.],
       [ 0.]])

In [281]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.drop(columns=["IS_SUCCESSFUL"]).values

# Review the features DataFrame
X

array([[1.0000000e+00, 0.0000000e+00, 0.0000000e+00, ..., 1.0000000e+00,
        0.0000000e+00,           nan],
       [0.0000000e+00, 0.0000000e+00, 0.0000000e+00, ..., 1.0000000e+00,
        0.0000000e+00,           nan],
       [0.0000000e+00, 0.0000000e+00, 0.0000000e+00, ..., 1.0000000e+00,
        0.0000000e+00,           nan],
       ...,
       [          nan,           nan,           nan, ...,           nan,
                  nan, 5.0000000e+03],
       [          nan,           nan,           nan, ...,           nan,
                  nan, 5.0000000e+03],
       [          nan,           nan,           nan, ...,           nan,
                  nan, 3.6500179e+07]])

### Step 6: Split the features and target sets into training and testing datasets.

In [282]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [283]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [284]:
# Define the the number of inputs (features) to the model
number_input_features = len(encoded_df.iloc[0]) - 1

# Review the number of features
number_input_features

115

In [285]:
# Define the number of neurons in the output layer
number_output_neurons = 1

In [286]:
# Define the number of hidden nodes for the first hidden layer
# Find the mean of the number of input features and the number of neurons in the output layer, eg
# (number of input features + number of neuron in output layer) / 2
hidden_nodes_layer1 =  (number_input_features + number_output_neurons) / 2

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

58.0

In [287]:
# Define the number of hidden nodes for the second hidden layer
# Repeat pattern for subsequent hidden layers, eg 
# ((number of neurons in the prior hidden layer + number of neurons in output layer) / 2)
hidden_nodes_layer2 =  (hidden_nodes_layer1 + number_output_neurons) / 2

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

29.5

In [288]:
# Create the Sequential model instance
nn = Sequential()

In [289]:
# Add the first hidden layer
nn.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

In [290]:
# Add the second hidden layer
nn.add(Dense(units=hidden_nodes_layer2, activation="relu"))

In [291]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units=1, activation="sigmoid"))

In [292]:
# Display the Sequential model summary
nn.summary()

Model: "sequential_15"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_39 (Dense)            (None, 58)                6728

 dense_40 (Dense)            (None, 29)                1711

 dense_41 (Dense)            (None, 1)                 30

=================================================================
Total params: 8,469
Trainable params: 8,469
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [293]:
# Compile the Sequential model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [295]:
# Fit the model using 50 epochs and the training data
nn_fit = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 2/50
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 3/50
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 4/50
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 5/50
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 6/50
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 7/50
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 8/50
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 9/50
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 10/50
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 11/50
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 12/50
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 13/50
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 14/50
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 15/50
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 16/50
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 17/50
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 18/50
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 19/50
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 20/50
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 21/50
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 22/50
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 23/50
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 24/50
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 25/50
1608/1608 [==============================] - 4s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 26/50
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 27/50
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 28/50
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 29/50
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 30/50
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 31/50
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 32/50
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 33/50
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 34/50
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 35/50
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 36/50
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 37/50
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 38/50
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 39/50
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 40/50
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 41/50
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 42/50
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 43/50
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 44/50
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 45/50
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 46/50
1608/1608 [==============================] - 4s 3ms/step - loss: nan - accuracy: 0.2355
Epoch 47/50
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 48/50
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 49/50
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 50/50
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [296]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy =  nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

536/536 - 1s - loss: nan - accuracy: 0.2286 - 747ms/epoch - 1ms/step
Loss: nan, Accuracy: 0.22862973809242249

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [297]:
# Set the model's file path
file_path = Path("Resources/AlphabetSoup.h5")

# Export your model to an HDF5 file
nn.save(file_path)

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1 - One Hidden Layer

In [298]:
# Define the the number of inputs (features) to the model
number_input_features = len(encoded_df.iloc[0]) - 1

# Review the number of features
number_input_features

115

In [299]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 1

In [300]:
# Define the number of hidden nodes for the first hidden layer
# Find the mean of the number of input features and the number of neurons in the output layer, eg
# (number of input features + number of neuron in output layer) / 2
hidden_nodes_layer1_A1 =  (number_input_features + number_output_neurons) / 2

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

58.0

In [301]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [302]:
# First hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer1_A1, input_dim=number_input_features, activation="relu"))


# Output layer
nn_A1.add(Dense(units=1, activation="linear"))


# Check the structure of the model
nn_A1.summary()

Model: "sequential_16"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_42 (Dense)            (None, 58)                6728

 dense_43 (Dense)            (None, 1)                 59

=================================================================
Total params: 6,787
Trainable params: 6,787
Non-trainable params: 0
_________________________________________________________________

In [303]:
# Compile the Sequential model
nn_A1.compile(loss="mse", optimizer="adam", metrics=["accuracy"])

In [305]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 2/100
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 3/100
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 4/100
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 5/100
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 6/100
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 7/100
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 8/100
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 9/100
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 10/100
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 11/100
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 12/100
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 13/100
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 14/100
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 15/100
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 16/100
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 17/100
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 18/100
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 19/100
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 20/100
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 21/100
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 22/100
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 23/100
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 24/100
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 25/100
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 26/100
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 27/100
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 28/100
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 29/100
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 30/100
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 31/100
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 32/100
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 33/100
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 34/100
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 35/100
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 36/100
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 37/100
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 38/100
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 39/100
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 40/100
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 41/100
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 42/100
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 43/100
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 44/100
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 45/100
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 46/100
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 47/100
1608/1608 [==============================] - 4s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 48/100
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 49/100
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 50/100
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 51/100
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 52/100
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 53/100
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 54/100
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 55/100
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 56/100
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 57/100
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 58/100
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 59/100
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 60/100
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 61/100
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 62/100
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 63/100
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 64/100
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 65/100
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 66/100
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 67/100
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 68/100
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 69/100
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 70/100
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 71/100
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 72/100
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 73/100
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 74/100
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 75/100
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 76/100
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 77/100
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 78/100
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 79/100
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 80/100
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 81/100
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 82/100
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 83/100
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 84/100
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 85/100
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 86/100
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 87/100
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 88/100
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 89/100
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 90/100
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 91/100
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 92/100
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 93/100
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 94/100
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 95/100
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 96/100
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 97/100
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 98/100
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 99/100
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355
Epoch 100/100
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2355

#### Alternative Model 2 - Three Hidden Layers

In [306]:
# Define the the number of inputs (features) to the model
number_input_features = len(encoded_df.iloc[0]) - 1

# Review the number of features
number_input_features

115

In [89]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 1

In [90]:
# Define the number of hidden nodes for the first hidden layer
# Find the mean of the number of input features and the number of neurons in the output layer, eg
# (number of input features + number of neuron in output layer) / 2
hidden_nodes_layer1_A2 =  (number_input_features + number_output_neurons_A2) / 2

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

59.0

In [91]:
# Define the number of hidden nodes for the second hidden layer
# Repeat pattern for subsequent hidden layers, eg 
# ((number of neurons in the prior hidden layer + number of neurons in output layer) / 2)
hidden_nodes_layer2_A2 =  (hidden_nodes_layer1_A2 + number_output_neurons_A2) / 2

# Review the number hi2dden nodes in the second layer
hidden_nodes_layer2_A2

30.0

In [92]:
# Define the number of hidden nodes for the third hidden layer
# Repeat pattern for subsequent hidden layers, eg 
# ((number of neurons in the prior hidden layer + number of neurons in output layer) / 2)
hidden_nodes_layer2_A3 =  (hidden_nodes_layer2_A2 + number_output_neurons_A2) / 2

# Review the number hidden nodes in the second layer
hidden_nodes_layer2_A3

15.5

In [93]:
# Create the Sequential model instance
nn_A2 = Sequential()

In [94]:
# First hidden layer
nn_A2.add(Dense(units=hidden_nodes_layer1_A2, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn_A2.add(Dense(units=hidden_nodes_layer2_A2, activation="relu"))

# Third hidden layer
nn_A2.add(Dense(units=hidden_nodes_layer2_A3, activation="relu"))

# Output layer
nn_A2.add(Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_A2.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_8 (Dense)             (None, 59)                6962

 dense_9 (Dense)             (None, 30)                1800

 dense_10 (Dense)            (None, 15)                465

 dense_11 (Dense)            (None, 1)                 16

=================================================================
Total params: 9,243
Trainable params: 9,243
Non-trainable params: 0
_________________________________________________________________

In [95]:
# Compile the model
nn_A2.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [96]:
# Fit the model
fit_model_A2 = nn_A2.fit(X_train_scaled, y_train, epochs=5)

Epoch 1/5
1608/1608 [==============================] - 4s 2ms/step - loss: nan - accuracy: 0.2339
Epoch 2/5
1608/1608 [==============================] - 4s 2ms/step - loss: nan - accuracy: 0.2339
Epoch 3/5
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2339
Epoch 4/5
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2339
Epoch 5/5
1608/1608 [==============================] - 3s 2ms/step - loss: nan - accuracy: 0.2339

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [165]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy =  nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
536/536 - 1s - loss: nan - accuracy: 0.2334 - 607ms/epoch - 1ms/step
Loss: nan, Accuracy: 0.23341107368469238

In [166]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy =  nn_A1.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
536/536 - 1s - loss: nan - accuracy: 0.2334 - 724ms/epoch - 1ms/step
Loss: nan, Accuracy: 0.23341107368469238

In [99]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy =  nn_A2.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
536/536 - 1s - loss: nan - accuracy: 0.2334 - 716ms/epoch - 1ms/step
Loss: nan, Accuracy: 0.23335276544094086

### Step 3: Save each of your alternative models as an HDF5 file.

In [ ]:
# Set the file path for the first alternative model
file_path = Path("Resources/AlphabetSoup_A1.h5")

# Export your model to an HDF5 file
nn_A1.save(file_path)

In [ ]:
# Set the file path for the first alternative model
file_path = Path("Resources/AlphabetSoup_A2.h5")

# Export your model to an HDF5 file
nn_A2.save(file_path)